{% load static %}
<div class="blogs-content">
    <div class="main-title">
        <h2>My <span>Blogs</span><span class="bg-text">My Blogs</span></h2>
    </div>
    <div class="blogs">
        <!--
        <div class="blog">
            
             blog image <img src="" alt="Blog Image">
            
            <div class="blog-text">
                <h4>
                    blog title 
                </h4>
                <p>
                    blog body
                </p>
            </div>
        </div> -->
