{% load static %}
<h4 class="stat-title">My Skills</h4>
<div class="progress-bars">
    <div class="progress-bar">
        <p class="prog-title">
            Python
        </p>
        <div class="progress-con">
            <p class="prog-text">
                80%
            </p>
            <div class="progress">
                <span class="html"></span>
            </div>
        </div>
    </div>
    <div class="progress-bar">
        <p class="prog-title">
            Linux
        </p>
        <div class="progress-con">
            <p class="prog-text">
                95%
            </p>
            <div class="progress">
                <span class="css"></span>
            </div>
        </div>
    </div>
    <div class="progress-bar">
        <p class="prog-title">
            Version Control --Git (GitHub)--
        </p>
        <div class="progress-con">
            <p class="prog-text">
                85%
            </p>
            <div class="progress">
                <span class="js"></span>
            </div>
        </div>
    </div>
    <div class="progress-bar">
        <p class="prog-title">
            Docker
        </p>
        <div class="progress-con">
            <p class="prog-text">
                75%
            </p>
            <div class="progress">
                <span class="react"></span>
            </div>
        </div>
    </div>
    <div class="progress-bar">
        <p class="prog-title">
            Google Cloud Platform
        </p>
        <div class="progress-con">
            <p class="prog-text">
                80%
            </p>
            <div class="progress">
                <span class="node"></span>
            </div>
        </div>
    </div>
    <div class="progress-bar">
        <p class="prog-title">
            Golang
        </p>
        <div class="progress-con">
            <p class="prog-text">
                70%
            </p>
            <div class="progress">
                <span class="python"></span>
            </div>
        </div>
    </div>
</div>